
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/rag.iml
.idea/vcs.xml
__pycache__/sparse_embeddings.cpython-310.pyc
__pycache__/rank_documents.cpython-310.pyc
__pycache__/grade_documents.cpython-310.pyc
__pycache__/get_relevant_docs.cpython-310.pyc
__pycache__/embedding_function.cpython-310.pyc
__pycache__/dense_embeddings.cpython-310.pyc
__pycache__/aggregate_documents.cpython-310.pyc
chroma/13dc5d87-a355-44b0-9583-05ad4b5fd619/data_level0.bin
chroma/13dc5d87-a355-44b0-9583-05ad4b5fd619/header.bin
chroma/13dc5d87-a355-44b0-9583-05ad4b5fd619/index_metadata.pickle
chroma/13dc5d87-a355-44b0-9583-05ad4b5fd619/length.bin
chroma/13dc5d87-a355-44b0-9583-05ad4b5fd619/link_lists.bin
chroma/chroma.sqlite3
*.pdf
